name: Build Push and Deploy Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Login GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: AmerHashima
          password: ${{ secrets.tokendata }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/amerhashima/pharmacyapi:latest

      - name: Deploy Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker rm -f pharmacyapi || true
            docker pull ghcr.io/amerhashima/pharmacyapi:latest
            docker run -d --name pharmacyapi -p 4000:4000 --restart unless-stopped ghcr.io/amerhashima/pharmacyapi:latest